<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>The flex Space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>



    {{!-- </figure>
    <div class="login">
        <h2>Login</h2>
    <form action="" id="login-form" >
        <input type="text" placeholder="email" id="login-email">
        <input type="password" placeholder="password" id="login-password">
        <button>Login!</button>
    </form>
    </div>
    <div class="signup">
    <h2>Signup</h2>
    <form action="" id="signup-form" >
        <input type="text" placeholder="name" id="signup-username">
        <input type="text" placeholder="email" id="signup-email">
        <input type="password" placeholder="password" id="signup-password">
        <button>Signup!</button>
    </form>
   
    </div> --}}