<head>
  <meta charset="UTF-8">
  <title>Flex Your Funny</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>Flexin' Funnies!</h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>







{{!-- <div class="flex-column justify-space-around">
    <figure>
      <img src="{{{public\css\images\1.png}}}" alt="{{{logo}}}">
      <p class="text-center" id="info">Too busy to for the gym or traditional workout plans?
         Try The Flex Space! 
         The app that turns every day activities into fun and funny exercises. 
         They say a little activity throughout the day adds up to big results. Why not have some fun doing it!</p>
    </figure> --}}