<div class="menu-container">
    <div class="card-header col-md-10">
        <h2> All Exercises Placeholder </h2>
    </div>

{{#each exercise}}
    <div class="dish col-md-5">
        <a href="/exercises/{{exercise_id}}">
            <p>
                {{exercise_id}}.
                {{exercise_title}}
            </p>
        </a>
    </div>
{{/each}}
</div>