<div class="dish-card">
    <div class="dish-card-header">
        {{name}}
    </div>
        <p>
            How to: {{description}}
            <br>
            <br>
            {{funny_quip}}
        </p>
    </div>
</div>