 <div class="hero-image"></div>


  <div class="card" style="width: 18rem;">
    
  <img src="public/images/squatty-potty.gif" class="card-img-top" alt="squat">
  <div class="card-body p-3">
    <h5 class="card-title">Squatty Potty</h5>
    <p class="card-text">How to: Do 5 squats before you sit down on the toilet. This is also an exercise in holding it for long road trips.

Do 5 more when you’re done, but remember: “if you sprinkle when you tinkle, be a sweetie and wipe the seatie!”</p>
    <a href="#" class="btn btn-primary">Save to Favorites</a>
  </div>
</div>
</div>
  <br>
    <div class="card" style="width: 18rem;">
  <img src="public/images/angry-cleaning.gif" class="card-img-top" alt="angry cleaning">
  <div class="card-body">
    <h5 class="card-title">Angry Cleaning</h5>
    <p class="card-text">How to: It’s like regular cleaning but instead you do it much louder and you slam a lot more doors and cupboards.

CAREFUL! You break, you clean!</p>
    <a href="#" class="btn btn-primary">Save to Favorites</a>
  </div>
</div>
   </div>
  <br>
    <div class="card" style="width: 18rem;">
  <img src="public/images/not-on-the-carpet.gif" class="card-img-top" alt="cat throwing up ">
  <div class="card-body">
    <h5 class="card-title">Not on the carpet!</h5>
    <p class="card-text">How to: Do you hear that? Your pet's about to yak! Run as fast as you can to your pet and pick them up. Place them down on the other side of the room. Do this 5 times today.

Your Great Dane will love this.</p>
    <a href="#" class="btn btn-primary">Save to Favorites</a>
  </div>
</div>
  <br>
    <div class="card" style="width: 18rem;">
  <img src="public/images/hide-and-seek.gif" class="card-img-top" alt="hiding from your dog">
  <div class="card-body">
    <h5 class="card-title">Hide and Seek</h5>
    <p class="card-text">How to: Hide somewhere wild! Under the bed? Climb up on those kitchen counter tops!

It's okay if your pet doesn't notice you're gone until dinner time. They really do love you.</p>
    <a href="#" class="btn btn-primary">Save to Favorites</a>
  </div>
</div>
  <br>
    <div class="card" style="width: 18rem;">
  <img src="public/images/grocery-haul" class="card-img-top" alt="carrying lots of grocery bags">
  <div class="card-body">
    <h5 class="card-title">Grocery Haul</h5>
    <p class="card-text">How to: Betcha can't make it in one trip! Do whatever it takes to carry all the groceries in one go. Whoever carries the most wins! Why yes, we do in fact mean the paper towels, three 12-packs, gallon of milk, AND 10lb sack of potatoes</p>
    <a href="#" class="btn btn-primary">Save to Favorites</a>
  </div>
</div>
  <br>
    <div class="card" style="width: 18rem;">
  <img src="public/images/sock-skating.gif" class="card-img-top" alt="risky business">
  <div class="card-body">
    <h5 class="card-title">Sock Skating</h5>
    <p class="card-text">It's like figure skating but much cozier. Up the speed factor with a couple of pieces of wax paper under each foot! Watch for splinters!</p>
    <a href="#" class="btn btn-primary">Save to Favorites</a>
  </div>
</div>
  <br>
 