   <div class="hero-image">
  <div class="hero-text">
  </div>
</div>
 <figure>
      <p class="text-center" id="info">Too busy to for the gym or traditional workout plans?
         Try Cirque-Du Sore Legs! 
         The app that turns every day activities into fun and funny exercises. 
         They say a little activity throughout the day adds up to big results. Why not have some fun doing it!</p>
    </figure>