   <div class="hero-image">
  <div class="hero-text">
  </div>
</div>
 <figure>
      <p class="text-center" id="info">Too busy to for the gym or traditional workout plans?
         Try Cirque-Du Sore Legs! 
         The app that turns every day activities into fun and funny exercises. 
         They say a little activity throughout the day adds up to big results. Why not have some fun doing it!</p>
    </figure>
    <div class="login">
        <h2>Login</h2>
    <form action="" id="login-form" >
        <input type="text" placeholder="email" id="login-email">
        <input type="password" placeholder="password" id="login-password">
        <button>Login!</button>
    </form>
    </div>
    <div class="signup">
    <h2>Signup</h2>
    <form action="" id="signup-form" >
        <input type="text" placeholder="name" id="signup-username">
        <input type="text" placeholder="email" id="signup-email">
        <input type="password" placeholder="password" id="signup-password">
        <button>Signup!</button>
    </form>
    </div>
