<div class="changeName">
<h2>Change the game. Don't let the game change you.</h2>

<form action="" id="name-form" >
    <input type="text" placeholder="Enter new name" id="change-username">
    <button>Changerooni!</button>
</form>
</div>

<script src="/js/logout.js"></script>