 <div class="header">
<div class="hero-image">
  </div>
  

   <nav class="neonText">
        <a href="/landing" class="btn btn-dark">Back</a>
    </nav>

  <br>
<div class="changeName">
<h1>Change the game. Don't let the game change you.</h1>
</div>
<br>
<div>
    <form action="" id="name-form" >
    <input type="text" placeholder="Enter new name" id="change-username">
    <a id="changeBtn"class="btn btn-dark">Changerooni!</a>
    </form>
</div>

<script src="/js/changeName.js"></script>