/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
 
  font-size: 20px;
  background-color: black;
  color: #4F4846;
  /* margin: 0; */
margin-right: 20px;
margin-left: 20px;
 
}
.hero-image {
  background-image: url("/images/logo.png");
  background-color: black;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  
}
.header {
  /* padding: 60px; */
  text-align: center;
  background: black;
  font-size: 30px;
 
}
h1 {
  margin: 20px;
  /* text-align: center; */
  color: lightpink;
  font-size: 55px;
 justify-content: center;
}

h2 {
  margin: 20px;
  text-align: center;
  color: lightpink;
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 10px auto;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightpink;
  color: white;
  text-align: center;
}


form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid lightpink;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button,
input[type=submit] {
  height: 40px;
  width: 120px;
  background-color: lightpink;
  color: black;
}

.text-center {
  text-align: center;
}

#info {
  color: White;
  font-size: 30px;
  
}
#cat-row {
  background-color: lightpink;
}
 
.menu-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

  
  